@import url('https://fonts.googleapis.com/css?family=Spirax');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h2 {
    font-family: 'Spirax', cursive;
    font-size: 2rem;
}

h3 {
    font-family: Verdana;
    font-weight: 300;
    color: red;
}

#searchbox {
    text-align: center;
    margin-top: 2rem;
}